data/
data
grid_files
test_data/
grid_files/
test_data.zip
grid_files.zip
*.zip
__pycache__/
intersecting*
*.csv
.vscode/
config.json
config.yaml
authcache.json
authcache.yaml
test/test_data/*
.env
Pipfile.lock
*.pyc
*.log
landsat_downloader.egg-info/
